# Python/venv
__pycache__/
*.py[cod]
.venv/
*.env

# Jupyter
.ipynb_checkpoints/

# Data & large artifacts
data/
logs/
models/
map/*.gpkg
*.tif
*.tiff
*.aux.xml
E:/data/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
